/* BUTTONS CSS */
.button{
    padding: 1em 2em;
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px 3px rgba(201, 201, 201, 0.2);
    cursor: pointer;
    font-weight: 600;
}
.button:hover{
    background-color: rgb(26, 26, 26);
    border-radius: 2px;
    box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.1);
}


.delete-selecteddata-button{
    padding: 0.5em 0.6em;
    margin-top: -0.4em !important;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    color: rgb(222, 222, 222);
}
.delete-selecteddata-button:hover{
    background-color: rgb(26, 26, 26);
}

.delete-all-button{
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9em;
    color: rgb(222, 222, 222);
}
.delete-all-button:hover{
    color: rgb(188, 188, 188) !important;
}



/* TABLE BUTTONS */

.table-button{
    text-align: center;
    /* font-size: 0.9em; */
    /* border-radius: 50%; */
    width: 2em;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(222, 222, 222);
    background-color: transparent;
}
.table-button:hover{
    background-color: rgb(213, 213, 213);
    color: rgb(49, 49, 49);
}
.table-button:hover .table-icon{
    background-color: rgb(213, 213, 213);
    color: rgb(49, 49, 49);
}
.table-button-flag{
    color: rgb(223, 223, 223);
}


/* LOG BUTTONS */
.log-button{
    background-color: rgb(21, 21, 21);
    color: rgb(224, 224, 224);
    border: none;
    padding: 0.7em 1em;
    margin-right: 0.2em;
    cursor: pointer;
    font-size: 0.8em;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.log-button:hover{
    background-color: rgb(39, 39, 39);

}



@media screen and (max-width: 1000px) {
    .button{
        padding: 0.7em 1.2em;
    }

}