/* Spinner.css */

/* SPINNER */
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  margin-right: -25em !important;
}

.spinner {
  border: 8px solid rgba(108, 108, 108, 0.6);
  border-left-color: #1e1e1e;
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  animation: spin 1s linear infinite;
}

.spinner-container p{
  font-size: 1.2em;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* SPINNER METHOD */
.spinner-method-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(30, 30, 30, 0.9);
  border-left: 3px solid #a9a9a9;
  border-top: 3px solid #a9a9a9;
  padding: 2em 2em 1.5em 2em;
  z-index: 2000000;
}

.spinner-method {
  border: 8px solid rgba(255, 255, 255);
  border-left-color: #5e5e5e;
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  margin-left: 25%;
  animation: spin 1s linear infinite;
}

.spinner-method-container p{
  font-size: 0.9em;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
