html, .wrapper{
    background-color: rgb(47, 47, 47);
}

.wrapper{
    color: rgb(241, 241, 241);
    padding: 3em 5em 0 11%;
    margin-bottom: 3em;
}

/* HEADER */
.header-box h6{
    font-size: 2em;
    font-weight: 700;
}
.header-box p{
    font-size: 1em;
    font-weight: 400;
}

@media screen and (max-width: 1700px) {
    .wrapper{
        padding: 3em 5em 0 6%;
    }

}
@media screen and (max-width: 1000px) {
    .wrapper{
        padding: 3em 2em;
    }

}



/* MAIN TABLE */
.content-wrapper{
    display: flex;
}

.table{
    font-size: 0.8em;
    width: 100% !important;
    /* max-width: 65% !important;  */
    max-height: 45em !important;
    min-height: 45em !important;
    overflow: auto;
    display: block;
    border: 2px solid black;
    /* border-radius: 25px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 2em 2em 2em;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
    /* scrollbar-width: none; */
}
.table thead{
    min-width: 100% !important;
}
thead th {
    position: sticky;
    top: -0.1em; 
    background-color: rgb(47, 47, 47);
    z-index: 2; 
  }
.table-header{
    cursor: pointer;
}
.table-header-select{
    position: absolute;
    width: 12em;
    margin-left: 0;
    margin-top: 0.9em;
    border: 1px solid rgb(233, 233, 233);
    background-color: #242424;
    z-index: 10000000 !important;
    padding: 0.2em 0;
}
.table-header-select-option{
    padding: 0.5em 1em;
    font-weight: 500;

}
.table-header-select-option:hover{
    background-color: rgb(81, 81, 81);
    cursor: pointer;
}
.table-row:hover{
    background-color: rgb(12, 12, 12);
    cursor: pointer;
}
.selected-row{
    background-color: rgb(28, 28, 28);
}
.selected-data-box{ 
    background-color: rgb(40, 40, 40);
    width: fit-content;
    width: fit-content;
    height: fit-content;
    padding: 2em 3.5em 3em 1.5em;
    margin: 0 0 2em 3em;
    border-left: 2px solid black;
}
.selected-data-box h5{ 
    font-size: 1.1em;
    margin-bottom: 2em;
}
.selected-data-box h6{ 
    font-size: 0.9em;
}
.selected-data-row{
    padding: 0.5em 0;
}

.flagged-td{
    width: 2em;
    text-align: center;
}


/* status */
.status-green{
    color: rgb(0, 231, 0);
    animation: blurGreen 2s infinite alternate;
}
@keyframes blurGreen {
    0% {
        box-shadow: 0 0 10px rgba(0, 234, 0, 0.6);
        filter: blur(1px) ;
    }
    100% {
        box-shadow:0 0 20px rgba(0, 234, 0, 1);
        filter: blur(2px) ;
    }
}
.status-yellow{
    color: rgb(255, 206, 12);
    animation: blurYellow 2s infinite alternate;
}
@keyframes blurYellow {
    0% {
        box-shadow: 0 0 10px rgba(255, 206, 12, 0.6);
        filter: blur(1px) ;
    }
    100% {
        box-shadow:0 0 20px rgba(255, 206, 12, 1);
        filter: blur(2px) ;
    }
}
.status-red{
    color: rgb(255, 22, 22);
    animation: blurRed 2s infinite alternate;
}
@keyframes blurRed {
    0% {
        box-shadow: 0 0 10px rgba(255, 22, 22, 0.6);
        filter: blur(1px) ;
    }
    100% {
        box-shadow:0 0 20px rgba(255, 22, 22, 1);
        filter: blur(2px) ;
    }
}

/* Scrollbar style */
/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-right: 1em;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #444444 !important;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  

/*  LOG TABLE */

 .log-wrapper{
    margin: 0 0 0 3em;
    height: 10em !important;
    max-height: 50em;
 }
 .log-box{
    padding-bottom: 4em;
 }
 .log{
    height: fit-content;
    width: fit-content;
    padding: 2em 1.5em;
    margin-bottom: 2em !important;
    background-color: rgb(40, 40, 40);
    border-left: 2px solid black;
 }

 .log-table {
    border-collapse: collapse;
    font-size: 0.9em;
 }
 .log-table thead th{
    background-color: rgb(40, 40, 40);
 }
  .log-table th, .log-table td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.392);
    padding: 5px 10px;
    text-align: left;
  }
  .log-box h5{
    font-size: 1em;
    margin-bottom: 1em;
    text-decoration: underline;
 }


  @media screen and (max-width: 1500px) {
    .content-wrapper{
        display: grid;
    }
    .table{
        font-size: 0.7em;
        width: fit-content !important;
        max-height: 40em !important;
        min-height: 40em !important;
        margin-left: 20%;
    }
    .selected-data-box{
        width: 100%;
        padding: 1em 2em;
        border-left: none;
        margin: 0;
        margin-top:2em;
        margin-bottom:2em;
        margin-top: 1.2em;
    }
    .selected-data-row{
        padding: 0.1em 0;
    }
    .log-wrapper{
        margin: 0 0 0 0;
     }
}
@media screen and (max-width: 1000px) {
    .table{
        margin-left: 2% !important;
        font-size: 0.6em;
    }
    .selected-data-box h6{
        font-size: 0.8em;
    }
}

